.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#2b2a2a;
  }
  
  .form {
    width: 370px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(236, 236, 236, 0.795);
    height: 400px;
  }
  
  .title {

    margin-bottom: 40px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
  }
  
  .input {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px ;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .signup-link {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 17px;
    color:  #007bff; 
    font-family: Arial, Helvetica, sans-serif; 
  }
  .btn-primary{
   border-radius: 8px;
   border: none;
   padding: 10px 95px;
   width: 100%;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   text-align: center;
   display: inline-block;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   display: flex;
   align-items: center;
   background-color: #1e293b;
   color: #fff;
   gap: 10px;
  }

.card{
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin-top: 20px;
}

.nome{
  color: #333;
  margin: 10px 0;
  font-size: 32px;
  font-weight: 600;
}

.email{
  color: #666;
  margin: 5px;
  font-size: 16px;
  
}

.perfil{
width: 120px;
height: 120px;
border-radius: 50%;
margin-bottom: 20px;
border: 3px solid #eaeaea;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ddd;
}

/* Adding hover effect on rows */
tr:hover {
  background-color: #f1f1f1;
}


th {
  background-color: #4CAF50;
  color: white;
}


td:last-child {
  text-align: center;
}

.button-sair {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}