.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#2b2a2a;
  }
  
  .form {
    width: 370px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(236, 236, 236, 0.795);
    height: 400px;
  }
  
  .title {

    margin-bottom: 40px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
  }
  
  .input {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px ;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .signup-link {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    font-size: 17px;
    color:  #007bff; 
    font-family: Arial, Helvetica, sans-serif; 
  }
  .btn-primary{
   border-radius: 8px;
   border: none;
   padding: 10px 95px;
   width: 100%;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   text-align: center;
   display: inline-block;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   display: flex;
   align-items: center;
   background-color: #1e293b;
   color: #fff;
   gap: 10px;
  }



.nome{
  color: #333;
  margin: 10px 0;
  font-size: 32px;
  font-weight: 600;
}

.email{
  color: #666;
  margin: 5px;
  font-size: 16px;
  
}

.perfil{
width: 120px;
height: 120px;
border-radius: 50%;
margin-bottom: 20px;
border: 3px solid #eaeaea;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ddd;
}

/* Adding hover effect on rows */
tr:hover {
  background-color: #f1f1f1;
}


th {
  background-color: #4CAF50;
  color: white;
}


td:last-child {
  text-align: center;
}

.button-sair {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-left: 350px;
}

/*home*/

.table {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 5px;
  max-width: 1120px;
  margin: 20px auto;
  word-break: break-all;
}

.thead th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}

.tbody td {
  padding-top: 15px;
  text-align: start;
}

.tbody td.align-center {
  text-align: center;
}

.tbody td.auto-width {
  width: auto;
}

.tbody td.fixed-width {
  width: 30%;
}

.tbody td.fixed-width-20 {
  width: 20%;
}

.tbody td.fixed-width-5 {
  width: 5%;
}

.only-web {
  display: none;
}

@media (min-width: 501px) {
  .only-web {
    display: table-cell;
  }
}

/*modal home*/

.modal {
  display: none; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Adjust as needed */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal form {
  display: flex;
  flex-direction: column;
}

.modal form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.modal form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.modal form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal form button:hover {
  background-color: #45a049;
}

/* Modal de exclusão */

.modal-delete {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  text-align: center;
}

.modal-delete h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.modal-delete p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #666;
}

.modal-delete .button {
  margin: 5px;
}

.modal-delete .button:first-of-type {
  background-color: #28a745;
}

.modal-delete .button:first-of-type:hover {
  background-color: #218838;
}

.modal-delete .button:last-of-type {
  background-color: #dc3545;
}

.modal-delete .button:last-of-type:hover {
  background-color: #c82333;
}



